*.pro.user
*.pro.user*
src/*_resource.rc
*.lnk
.DS_Store
Makefile
Makefile.*
*.dmg

# Snapcraft
src/*.snap
src/parts
src/stage
src/prime
src/images/samples

build
bin
.vscode
.qmake.stash
doc

*.autosave
